@font-face {
  font-family: 'MinSans-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MinSans-Regular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.sideBar {
  background-color: #ffffff;
  position: sticky;
  float: left;
  padding: 1rem;
  width: 200px;
  height: 100%;
}
.mainSection {
  display: inline-block;
}